body {
  font-family: avenir;
  background-color: #f3f3f3;
}
.img {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}
.input {
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 1px solid;
  padding:none;
  margin:none;
  width:20px;
  background-color: #f3f3f3;
  font-family: avenir;
  font-size: 14px;

}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 4px;
  height:5px;
}
