* {
  font-family: avenir;
  font-size: 18px;
}
.img {
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 2px;
}
