* {
  font-family: avenir;
	font-size: 18px;
}
body {
  font-family: avenir;
  color: #484848;
  background-color: #D4D8E8;
  margin-right:15em;
  margin-left:15em;
  display: block;
}
h1 {
  margin: auto;
}
p {
  margin: 1em;
}
.react-select-container {
  /* width: 25em; */
  color: "black";
  margin: 1em;
}
.container {
  width: 75%;
  margin: auto;
}
.left-container {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222; /*#D4D8E8; */
  overflow-x: hidden;
  padding-top: 20px;
}
.masthead {
  margin-bottom: 2em;
  margin-top: 1em;
  /* color: #FFFFFF; */
  font: 12px avenir;
  border-bottom: 1px solid #F8F8F8;
}
.masthead-title {
  /* color: #FFFFFF; */
  font: 50px avenir;
  text-align: center;
}
.masthead-title a {
  font: 1.5em avenir;
  color: #484848;
  padding-left: 70px;
  padding-right: 70px;
}

.slidecontainer {
  margin: 1em;
	padding-top:10px;
	padding-bottom: 10px;
}
button {
  display: block;
  width: 100%;
  margin: 1em;

  /* height: 50%; */
  border-radius: 5px;
  background-color:#FFFFFF;
  /* margin-right:auto; */
  /* margin-left:auto; */
  color: #484848;
  font-family: avenir;
}
button:focus {
  outline: none;
}
.recommender {
  color: #484848
}
.react-select-container::placeholder {
  color: #484848
}
.borderless_input:focus {
  outline: none;
}
.borderless_input {
  border-top: none;
  border-left: none;
  border-right: none;
  color: #484848;
	width: 2em;
  font-family: avenir;
  border-bottom: 1px solid #FFFFFF;
  background-color: #D4D8E8;
	text-align: center;
}
.margin_right {
	 margin-right: 80px;
}
