rect {
    fill: #ff9999;
}
rect:hover {
    fill: #ff6666;
}
text {
  fill: #ffffff;
  font: 12px avenir;
  pointer-events: none;
}
.artist {
  fill: #000000
}
.header {
  fill: #ffffff;
  font: 20px avenir;
}
path.link {
  fill: none;
  stroke: #c5ccd1;
  stroke-width: 1.5px;
}
line {
  fill: none;
  stroke: #c5ccd1;
  stroke-width: 1.5px;
}
circle {
  /* fill: #ccc; */
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}
